form h3{
  margin-bottom: 0;
}

form p{
  margin-top: 0;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}

.form-table{
  margin-bottom: 20px;
}

label.radio{
  display: block;
  margin-bottom: 5px;
}

label.radio input{
  vertical-align: text-top;
  margin-right: 4px;
}

label.radio_image input{
  display: none;
}

label.radio_image img{
  padding: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  background: none;
}

label.radio_image input:checked + img{
  background: #a2daec;
}

input[type="radio"]{
  vertical-align: top;
}

/* @group Colorpicker Styles */

.colorPickerWrapper{
	position: relative;
	z-index: 0;
}

.popup-guy{
	position: absolute;
	left: 170px;
	top: -121px;
	padding: 5px;
	background: #fff;
	border: 3px solid #ddd;
	box-shadow: 0 0 3px rgba(0,0,0,0.8);
	border-radius: 50% 50%;
	-moz-border-radius: 50% 50%;
	-webkit-border-radius: 50% 50%;
	-o-border-radius: 50% 50%;
}

.popup-guy-inside:before{
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #ddd;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -10px;
  top: 98px;
}

/* @end */

/* @group Image Previews */

.image_preview{
	margin-top: 10px;
	margin-bottom: 20px;
	max-width: 420px;
	height: auto;
}

.image_preview .caption{
	font-size: .9em;
	color: #999;
	text-transform: uppercase;
}

/* @end */