form h3{
	margin-bottom: 0;
}

form p{
	margin-top: 0;
	padding-bottom: 1em;
	border-bottom: 1px solid #eee;
}

.form-table{
	margin-bottom: 20px;
}

label.radio{
	display: block;
	margin-bottom: 5px;
}

label.radio input{
	margin: 0 4px 0 0;
}

label.radio_image input{
	display: none;
}

label.radio_image img{
	padding: 8px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	background: none;
}

label.radio_image input:checked + img{
	background: #a2daec;
}

/* @group Image Previews */

.image_preview{
	margin-top: 10px;
	margin-bottom: 20px;
}

.image_preview img{
	max-width: 420px;
	height: auto;
}

.image_preview .caption{
	font-size: .9em;
	color: #999;
	text-transform: uppercase;
}

/* @end */