/* @group Colorpicker Styles */

.colorPickerWrapper{
	position: relative;
	display: block;
}

.popup-guy{
	position: absolute;
	left: 40px;
	bottom: 30px;
	background-color: white;
	border: 1px solid #222;
	padding: 5px;
}

/* @end */

/* @group Image Previews */

.image_preview{
	margin-top: 10px;
	margin-bottom: 20px;
	max-width: 420px;
	height: auto;
}

.image_preview .caption{
	font-size: .9em;
	color: #999;
	text-transform: uppercase;
}

/* @end */