/* @group Right Column Layout */

#main{
	width: 800px;
}

#content{
	float: left;
	width: 560px;
	margin-left: 0;
	display: inline;
}

#primary{
	width: 200px;
	margin-top: 60px;
	padding: 0 0 15px;
	margin-right: 0;
	float: right;
}

/* @end */